{% extends "layout.html.jinja2" %}
{% block body %}

  <h1>Register</h1>
  <p>Register user account</p>
  <form action="{{ url_for('register') }}" method="post">
    <div class="form-group">
      <label>User name</label>
      <input type="name" class="form-control" name="name" placeholder="[a-zA-Z0-9]+">
    </div>
    <div class="form-group">
      <label>Mail address</label>
      <input type="email" class="form-control" name="mail" placeholder="admin@example.com">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
      <label>Repeat</label>
      <input type="password" class="form-control" name="re_password">
    </div>
    <button type="submit" class="btn btn-primary">Add user</button>
  </form>
{% endblock %}
