{% extends "layout.html.jinja2" %}
{% block body %}

{% if user %}
  <h1>
    {{ user.name }}
    {% if your_id == user.id %}
      <small><span class="label label-info">You</span></small>
    {% endif %}
  </h1>

<table class="table table-bordered">
    <tr><th>title</th><th>information</th></tr>
    <tr><td>name</td><td>{{ user.name }}</td></tr>
    <tr><td>score</td><td>{{ user.score }} pts</td></tr>
</table>

<h2>Solved Problem</h2>

<table class="table table-bordered">
    <tr><th>title</th><th>score</th><th>solved time</th></tr>
</table>
{% endif %}
{% endblock %}
